site_name: 0x574R
site_url: https://0x574R.github.io

theme:
  name: material
  language: es
  
  palette:
    scheme: slate
    primary: black
    accent: grey
  
  font:
    text: Inter
    code: JetBrains Mono
  
  logo: assets/logo.svg
  favicon: assets/logo.svg
  
  features:
    - navigation.sections
    - navigation.top
    - content.code.copy
    - search.highlight
  
  icon:
    repo: fontawesome/brands/github

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - admonition
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/0x574R

extra_css:
  - stylesheets/extra.css

nav:
  - index.md
  - Writeups:
    - writeups/index.md
    - writeups/htb-example.md
  - Cheatsheets:
    - cheatsheets/index.md
    - cheatsheets/linux-privesc.md
    - cheatsheets/windows-privesc.md
  - Research:
    - research/index.md
    - research/malware-dev/index.md
    - research/malware-dev/shellcode-basics.md
    - research/kernel/index.md
    - research/kernel/ebpf-intro.md
