site_name: Hacking Notes
site_url: https://TU-USUARIO.github.io/blog-hacking
site_description: Blog de seguridad ofensiva y desarrollo de malware
site_author: Daniel

repo_name: TU-USUARIO/blog-hacking
repo_url: https://github.com/TU-USUARIO/blog-hacking

theme:
  name: material
  language: es
  palette:
    - scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Cambiar a modo claro
    - scheme: default
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Cambiar a modo oscuro
  
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - content.code.copy
    - content.code.annotate
    - search.highlight
    - search.suggest
  
  icon:
    repo: fontawesome/brands/github
    admonition:
      note: octicons/tag-16
      warning: octicons/alert-16
      danger: octicons/zap-16
      tip: octicons/squirrel-16
      example: octicons/beaker-16

plugins:
  - search:
      lang: es
  - tags

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - admonition
  - tables
  - attr_list
  - md_in_html
  - def_list
  - footnotes
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/TU-USUARIO
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/TU-USUARIO

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Writeups:
    - writeups/index.md
    - HackTheBox:
      - writeups/htb-example.md
  - Cheatsheets:
    - cheatsheets/index.md
    - cheatsheets/linux-privesc.md
    - cheatsheets/windows-privesc.md
  - Malware Dev:
    - malware-dev/index.md
    - malware-dev/shellcode-basics.md
  - Kernel:
    - kernel/index.md
    - kernel/ebpf-intro.md
