site_name: RAZOR
site_url: https://0x574r.github.io
site_author: 0x574R
site_description: Blog de Ciberseguridad - Writeups, Research & Cheatsheets

repo_name: 0x574R
repo_url: https://github.com/0x574R

theme:
  name: material
  language: es
  custom_dir: docs/overrides
  
  logo: assets/logo.png
  favicon: assets/favicon.ico
  
  font:
    text: Inter
    code: JetBrains Mono
  
  icon:
    repo: fontawesome/brands/github
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

  palette:
    - scheme: slate
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Cambiar a modo claro
    - scheme: default
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Cambiar a modo oscuro

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - toc.follow
    - announce.dismiss

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - attr_list
  - md_in_html
  - def_list
  - footnotes
  - tables
  - toc:
      permalink: true
      toc_depth: 3

plugins:
  - search:
      lang: es
  - tags

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/0x574R
      name: GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/0x574R
      name: Twitter

  generator: false
  
  analytics:
    provider: google
    property: G-XXXXXXXXXX

nav:
  - Home: index.md
  - Writeups:
    - writeups/index.md
  - Cheatsheets:
    - cheatsheets/index.md
  - Research:
    - research/index.md

copyright: Copyright &copy; 2024-2025 0x574R | RAZOR Security Blog
