site_name: RAZOR
site_url: https://0x574R.github.io

repo_url: https://github.com/0x574R
repo_name: 0x574R

theme:
  name: material
  palette:
    scheme: slate
    primary: black
    accent: grey
  logo: assets/logo.png
  favicon: assets/logo.png
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - search.highlight

extra_css:
  - stylesheets/extra.css

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - tables
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Writeups:
    - writeups/index.md
    - writeups/htb-example.md
  - Cheatsheets:
    - cheatsheets/index.md
    - cheatsheets/linux-privesc.md
    - cheatsheets/windows-privesc.md
  - Research:
    - research/index.md
    - research/malware-dev/index.md
    - research/malware-dev/shellcode-basics.md
    - research/kernel/index.md
    - research/kernel/ebpf-intro.md
