<header class="site">
  <div class="container header-inner">
    <a class="brand" href="{{ "/" | relative_url }}">
      <span class="typing-wrap">
        <span aria-label="brand" data-typing="name"></span>
        <span class="caret" aria-hidden="true"></span>
      </span>
      <span class="muted">— <span data-typing="subtitle">malware goes brrrrrr</span></span>
    </a>
    <nav>
      <a href="{{ "/" | relative_url }}">Inicio</a>
      <a href="{{ "/about/" | relative_url }}">Sobre mí</a>
      <a href="{{ "/feed.xml" | relative_url }}">RSS</a>
    </nav>
  </div>
</header>
